<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558645836-e44122a743ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
  <div class="container">
    <h1>Mr Cocktail</h1>
    <p>Change your day and have a drink in one of our pubs around the world.</p>
  </div>
</div>
<div class="container py">
  <div class="cards py-3">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
    <% end %>
  </div>
</div>